main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-inline: 15%;
  gap: 2rem;
}
h1 {
  text-align: center;
  border-style: solid;
}

h2 {
  margin-left: 30%;
}
footer {
  text-align: center;
  border-style: solid;
}

article {
  border-style: solid;
}

img {
  display: block;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  main {
    display: grid;
    grid-template-columns: 1fr;
    margin-inline: 0%;
  }

  .article1 {
    grid-column: 1;
  }

  h2 {
    margin-left: 0%;
  }
}
